body{
	font-family: 'Comfortaa', cursive;
	background: #fff;
	background-size: cover;
	padding:0;
	margin:0;
	color: #fa3380;
}
hr{
	border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #fa3380, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #fa3380, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #fa3380, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #fa3380, #f0f0f0); 
}
.con{
	width: 100%;
	height: 520px;
	margin-top: 40px;
	text-align: center;
}

img{
	width: 180px;
}
input[type=text]{
	margin-top: 50px;
	padding: 10px;
	width: 250px;
	max-width: 50%;
	border-radius: 100px;
	border: 2px solid #fa3380;
	box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.2);
	outline: none;	
}
input[type=text]:focus{
	border: 2px solid rgba(169,81,237,0.8);
		box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.4);
}
::placeholder{
	color: #fa3380;
}
p{
	margin-top: 30px;
	vertical-align: center;
	border-radius: 100px;
	width: auto;
	height: 30px;
		-webkit-animation:colorchange 9s infinite alternate;
}
.online-cir{
	position: relative;
	top: -42px;
	right:-24%;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background: deepskyblue;
}

#box{
	box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #fa3380;
	margin: 0 auto;
	width: 70%;
	max-width: 300px;
	height: auto;
	word-wrap: break-word; /*added for long single word, so it won't go out of div*/
}
#box:hover{
	box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.4);
}

 @-webkit-keyframes colorchange {
      0% {
        
        color: #fa3380;
      }
      
      10% {
        
        color: green;
      }
      
      20% {
        
        color: rgba(2,179,228,0.8);
      }
      
      30% {
        
        color: rgba(2,204,186,0.8);
      }
      
      40% {
        
        color: rgba(169,81,237,0.8);
      }
      
      50% {
        
        color: rgba(255,162,52,0.8);
      }
      
      60% {
        
        color: rgba(255,84,131,0.8);
      }
      
      70% {
        
        color: deepskyblue;
      }
      80% {
     
        color: purple;
      }
      
      90% {
     
        color: lightpink;
      }
      
      100% {
        
        color: rgba(125,151,173,0.8);
      }
    }